.ui-header {
	height: 45px;
}

.ui-listview h2 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 11px;
	color: #222;
	margin-left: -40px;
	margin-top: -2px;
}

.grey {
	color: #818181;
}

.ui-content {
	padding-top: 0;
	padding-bottom: 0;
}

#search-btn {
	margin-left: 250px;
}

/******************** PICTURE ****************************/

#group-pic {
	width: 100%;
}

p.twitter-name {
	font-family: Helvetica, sans-serif, serif;
	font-size: 11px;
	color: #222;
	margin-left: -40px;
}

p.date2 {
	color: #818181;
	font-size: 11px;
	font-family: Helvetica, sans-serif, serif;
	float: right;
	margin-top: -20px;
}

p.tweet {
	color: #222;
	font-family: Helvetica, sans-serif, serif;
	font-size: 11px;
	margin-left: -40px;

}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
	margin-right: 0;
}

.ui-listview-inset .ui-li {
	border-right-width: 0;
}

p.tweet a {
	text-decoration: none;
	/*margin-left: -40px;*/
}

img.bird {
	margin-left: 150px;
	margin-top: 10px;
}

p.text {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 11px;
	margin-left: -40px;
	/*margin-top: 2px;*/
	/*width: 239px;*/
}

p.date {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 11px;
	color: #818181;
	margin-left: 160px;
	margin-top: -62px;	
}

.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
    padding-right: 0;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    padding-left: 95px;
    margin-right: 5px;
    min-height: 50px;
}

li img {
	padding: 7px
}

p.ui-li-desc {
	white-space: normal;
}

footer .active {
	-webkit-box-shadow: inset 1px 3px 3px 2px #000;
	box-shadow: inset 1px 3px 3px 2px #000;
	background: #222;
}